#compass-business {
    float: left;
    width: 80%;
    padding: 0.5em;
}

#close-compass {
    float: right;
    width: 8%;
    font-size: 2em;
}

.business-name, .business-distance {
    font-size: 2em;
}

.compass-container {
    position: relative;
    clear: both;
}

.compass-background, .compass-hands, .compass-head {
    position: absolute;
    top: 0px;
    left: 0px;
    width:auto;
    height:auto;
}

.compass-hands {
    z-index: 5;
}

.compass-head {
    z-index: 10;
}

.compass-image {
    display:block;
    width:auto;
    height:auto;
    max-width:100%;
    max-height:90%;
    margin:0 auto;
}